body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #03051e;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  position:relative;
}
h1{
  margin-top: 0;
  margin-bottom: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #21bf73;
  font-weight: 500;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: #21bf73;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #06623b;
}

p{
  margin-bottom: 0;
  color: #06623b;
}

hr{
  width: 20%;
  border-top-style: dotted;
}

/*  -----TOP SECTION----- */
.top-container{
  background-color: #e1ffcf;
  padding-top: 60px;
  position: relative;
}

.top-cloud{
  width: 10%;
  position: absolute;
  right: 15%;
}

.bottom-cloud{
  width:10%;
  position: absolute;
  left: 20%;
  bottom: 250px;
}

.mountain-img{
  width: 80%;
  margin: 100px auto 0 auto;
  height: 200px;
}

/* ----- INTRODUCTION SECTION ----- */

.intro{
  background-color: white;
  margin: 2% 8% 3% 8%;
  padding: 3% 4%;
  border-radius: 15px;
}

.profile-img{
  width: 15%;
  border-radius: 100%;
  border: solid 5px powderblue;
  margin-bottom: 15px;
}

/* ----- SKILL SECTION ----- */

.skills{
  background-color: White;
  margin: 2% 8%;
  padding: 5% 6% 5% 6%;
  border-radius: 15px;
}
.tech{
  margin: 0 auto 40px auto;
}

.first-row{
  margin-bottom: 15px;
}

.skill-box{
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.html{
  color: #F16529;
}

.css{
  color: #264de4;
}

.boot{
  color: #563d7c;
}

.jscript{
  color: #F0DB4F;
  background-color: black;
}

.jquery{
  width:49px;
  height:52px;
}

.react{
  color: #61DBFB;
}

.node{
  color: #68A063;
}
.java{
  color: #f89820;
}

.sql{
  width:49px;
  height:52px;
}

/* ------ MINOR PROJECT ------ */

.minor-project{
  padding: 3% 0 3% 0;
  background-color: #e1ffcf;
}

.size{
  padding: 2% 14% 0 14%;
}

/* ----- MAJOR PROJECT ----- */
.major-project{
  padding: 3% 20%;
  background-color: #e1ffcf;
}

.heading-h3{
  margin-bottom: 25px;
}

.heading-h4{
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
}

.align{
  text-align: left;
  line-height: 2;
}

/* ----- QUALIFICATION SECTION ------ */
.qualification{
  background-color: white;
  margin: 3% 2%;
  padding: 5% 3% 5% 3%;
  border-radius: 15px;
}

.edu{
  margin: 0 auto 20px auto;
}

.edu-box{
  padding: 10px 5px 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

/* ----- OTHER SECTION ----- */
.others{
  padding-left: 5%;
  padding-right: 5%;
  height:330px;
}

.box{
  text-align: center;
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #438a5e;
}

.box-container{
  width: 100px;
  height: 100px;
  transition-property: width, height;
  transition-duration: .5s;
  border-radius: 10%;
  background:#e1ffc2;
}
.text{
  opacity: 0;
}

.box-container:hover{
  width: 300px;
  height: 300px;
}

.box-container:hover .text{
  text-align: center;
  opacity: 1;
  transition-delay: .2s;
}

.text1{
  opacity: 0;
}

.box-container:hover .text1{
  text-align: center;
  opacity: 1;
  transition-delay: .2s;
}

/* ----- CONTACT SECTION ---- */

.contact{
  padding: 10px 10%;
  font-family: 'Montserrat', sans-serif;
  background-color: #ade498;
  color: #1fab89;
}

.info{
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}

.foot-border{
  border-left: 1px solid #1fab89;
}

.mobile{
  color: black;
}

.whatsapp{
  color: #4FCE5D;
}

.mail{
  color: #D44638;
}

.floaticon{

  width: 180px;
  position: fixed;
  bottom: 6%;
  left: 2%;
  z-index: 888;
  background-color: white ;
  border-radius: 30px;
  padding: 8px 20px;
}
.fab_w{
  color: #4FCE5D;
}

/* .whatslink{
  color:inherit;
}
.whatslink :hover{
  color: inherit;
} */
